<!-- <h1>Recipes</h1>
<%=@recipes.each do |recipe|%>
  <div>
    <span><%=link_to recipe.name, recipe_path(recipe)%></span>
    <span>By: <%=link_to recipe.user_name, user_path(recipe.user)%></span>
  </div><br>
<%end%> -->
