<h1><%= display_recipe_name(@recipe) %></h1>

<h3>Ingredients:</h3>
  <table>
    <tr>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Name</th>
    </tr>
    <%= render(partial: '/quantities/all_attr_tr', collection: @recipe.quantities, as: :quantity) || "No Ingredients!" %>
  </table>

<h3>Instructions</h3>
  <ol>
    <%= render(partial: '/instructions/content_ol', collection: @recipe.instructions, as: :instruction) || "No Instructions!" %>
  </ol>
