<h1><%=@recipe.name%></h1>

<h3>Ingredients:</h3>
  <table>
    <tr>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Name</th>
    </tr>
    <%= render(@recipe.quantities) || "No Ingredients!" %>
  </table>

<h3>Instructions</h3>
  <ol>
    <%= render(@recipe.instructions) || "No Instructions!" %>
  </ol>
