<h3>Wish List</h3>
<ul>
  <li>gallery-style scroll through steps</li>
  <li>show ingredients you need for the step</li>
  <li>show a picture if helpful ("stiff peaks")</li>
  <li>show instruction content</li>
</ul>
