<h1> Account </h1>

Email: <%= @user.email %><br>

<% if current_user == @user %>
  <%= link_to("Sign Out", destroy_user_session_path(@user), method: 'delete') %><br><br>
<% end %>

<table>
  <tr>
    <th>Recipes</th>
  </tr>
  <%= render(partial: '/recipes/name_with_ud_links_tr', collection: @user.recipes, as: :recipe) %>
</table>
